* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial, 'sans-serif';
  font-weight: bold;
}

@media (max-width: 1200px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 6px;
  }
}

/* preloader */

#preloader {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: #2574A9 url(http://hello-site.ru//main/images/preloads/tail-spin.svg) center center no-repeat;
  background-size: 41px;
}

/* main page */

.menu {
  width: 100%;
  height: 100%;
  background-image: url('../img/gradient.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-size: 3em;
}

.menu-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  text-align: center;
}

.menu-link {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;
  line-height: 50vh;
  text-align: center;
  transition: .5s;
}

.menu-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* screens */

.text-position {
  position: relative;
  font-size: 3em;
}

.text-position p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.black-text p {
  color: #000;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.image-position-fixed {
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.image-position-sliding {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
}

.screen-1 {
  width: 100%;
  height: 100vh;
  background-image: url('../img/1.jpg');
}

.screen-2 {
  height: 50vh;
  background-color: #707070;
}

.screen-3 {
  width: 100%;
  height: 50vh;
  background-image:  url('../img/2.jpg');
}

.screen-4 {
  width: 100%;
  height: 100vh;
  background-image:  url('../img/3.jpg');
  background-position-y: -50vh;
}
